<h2>Client Dashboard</h2>

<ul>
    <li><a asp-controller="Appointment" asp-action="Create">Book Appointment</a></li>
    <li><a asp-controller="Car" asp-action="Create">Add Car</a></li>
    <li><a asp-controller="Workshop" asp-action="Index">Workshops</a></li>
</ul>
